
<div class = "container">
  <div class = "col s12 m8 l8">
    <%= form_for @article, remote:true do |f|%>
    
      <div>
         <% if @article.errors.any?%>
           <% @article.errors.full_messages.each do |error|%>
              <%=error%>
           <% end %>
         <% end %>
      </div>  

      <div>
        <%= f.label "Title" %> 
        <%= f.text_field "title"%>
      </div>
 
      <div>
        <%= f.label "Content "%>
        <%= f.text_area "body"%>
      </div> 

      <div>
        <%= f.submit %> 
      </div>
       
    <% end %>
  </div>
</div>
