<div class = "container">
<%=form_tag "/custom_sign_up" do %>
  <ul>
    <%@user.errors.full_messages.each do |error|%>
      <li><%=error%></li>
    <%end%>
  </ul>
  <h2>Complete your register</h2>
  <div>
    <%=label_tag "User"%>
    <%=text_field_tag "user[user_name]", @user.user_name%>
  </div>
  
  <div>
    <%=label_tag "Email"%>
    <%=text_field_tag "user[email]", @user.email, required: true%>
  </div>

  <div>
    <%=submit_tag "Complete register", class:"waves waves-effect btn"%>
  </div>
</div> 
<%end%>

