<div class = "container">
  <%= form_for (@course) do |f|%>
    <div> 
      <%= f.label "Title"%>
      <%= f.text_field "title"%>
    </div>
    
    <div>
      <%= f.label "Description"%>
      <%= f.text_field "description"%>
    </div>
    
    <div>
      <%= f.label "Number of credits"%>
      <%= f.number_field "number_credits"%>
    </div>     

    <div>
      <%= f.label "Image - logo "%>
      <%= f.file_field "cover"%>
    </div>  
    
    <div>
       <%= f.submit %>
    </div>
  <%end%>
</div>
