<div class = "container"> 

   <h1 class = "center">Admistration of the courses</h1>
   <%= link_to "New course", new_course_path%>
   <hr>
   <% if @courses.count == 0%>
     <h3 class = "center">Sorry, We haven't courses</h3>
   <%else%>
     <div class = "row">
       <% @courses.each do |course| %>
         <div class = "col s12 m4">
           <div class = "card blue-grey darken-1">
             <div class = "card-content white-text">
               <strong><span class = "center"><%= course.title%></span></strong>
               <p><%= truncate(course.description, length:80) %></p>
	       <strong><span>Credits: </span></strong> <span><%= course.number_credits%></span> 
             </div>
             <div class = "card-action">
               <%= link_to "Show", course_path(course)%>
               <%= link_to "Edit", edit_course_path(course)%>
               <%= link_to "Delete", course_path(course), method: :delete, data: {confirm: 'Are you sure?'} %>
             </div>
           </div>
         </div>
       <% end %>     
     </div>
   <% end %>
</div>
